--
-- PostgreSQL database dump
--

\restrict 051tkJCrYsAkfbcrYnkkVUweZe8h8Tke0MvgZOy50Msvx9YAg2tlbk2epFnFut8

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg12+1)
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgresmsc
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgresmsc;

--
-- Name: EstadoPedido; Type: TYPE; Schema: public; Owner: postgresmsc
--

CREATE TYPE public."EstadoPedido" AS ENUM (
    'pendiente',
    'en_preparacion',
    'enviado',
    'entregado',
    'cancelado'
);


ALTER TYPE public."EstadoPedido" OWNER TO postgresmsc;

--
-- Name: MetodoPago; Type: TYPE; Schema: public; Owner: postgresmsc
--

CREATE TYPE public."MetodoPago" AS ENUM (
    'tarjeta',
    'tienda'
);


ALTER TYPE public."MetodoPago" OWNER TO postgresmsc;

--
-- Name: RolUsuario; Type: TYPE; Schema: public; Owner: postgresmsc
--

CREATE TYPE public."RolUsuario" AS ENUM (
    'administrador',
    'cliente'
);


ALTER TYPE public."RolUsuario" OWNER TO postgresmsc;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AlertaStock; Type: TABLE; Schema: public; Owner: postgresmsc
--

CREATE TABLE public."AlertaStock" (
    id integer NOT NULL,
    producto_id integer NOT NULL,
    stock_minimo integer NOT NULL,
    mensaje text,
    fecha_alerta timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    activa boolean DEFAULT true NOT NULL,
    fecha_update timestamp(3) without time zone NOT NULL,
    talla text
);


ALTER TABLE public."AlertaStock" OWNER TO postgresmsc;

--
-- Name: AlertaStock_id_seq; Type: SEQUENCE; Schema: public; Owner: postgresmsc
--

CREATE SEQUENCE public."AlertaStock_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."AlertaStock_id_seq" OWNER TO postgresmsc;

--
-- Name: AlertaStock_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgresmsc
--

ALTER SEQUENCE public."AlertaStock_id_seq" OWNED BY public."AlertaStock".id;


--
-- Name: Carrito; Type: TABLE; Schema: public; Owner: postgresmsc
--

CREATE TABLE public."Carrito" (
    cantidad integer DEFAULT 1 NOT NULL,
    fecha_agregado timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    id integer NOT NULL,
    producto_id integer NOT NULL,
    usuario_id integer NOT NULL,
    talla text
);


ALTER TABLE public."Carrito" OWNER TO postgresmsc;

--
-- Name: Carrito_id_seq; Type: SEQUENCE; Schema: public; Owner: postgresmsc
--

CREATE SEQUENCE public."Carrito_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Carrito_id_seq" OWNER TO postgresmsc;

--
-- Name: Carrito_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgresmsc
--

ALTER SEQUENCE public."Carrito_id_seq" OWNED BY public."Carrito".id;


--
-- Name: Categoria; Type: TABLE; Schema: public; Owner: postgresmsc
--

CREATE TABLE public."Categoria" (
    id integer NOT NULL,
    nombre text NOT NULL,
    descripcion text
);


ALTER TABLE public."Categoria" OWNER TO postgresmsc;

--
-- Name: Categoria_id_seq; Type: SEQUENCE; Schema: public; Owner: postgresmsc
--

CREATE SEQUENCE public."Categoria_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Categoria_id_seq" OWNER TO postgresmsc;

--
-- Name: Categoria_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgresmsc
--

ALTER SEQUENCE public."Categoria_id_seq" OWNED BY public."Categoria".id;


--
-- Name: DetallePedido; Type: TABLE; Schema: public; Owner: postgresmsc
--

CREATE TABLE public."DetallePedido" (
    id integer NOT NULL,
    pedido_id integer NOT NULL,
    producto_id integer NOT NULL,
    cantidad integer NOT NULL,
    precio_unitario numeric(10,2) NOT NULL,
    subtotal numeric(10,2) NOT NULL,
    talla text
);


ALTER TABLE public."DetallePedido" OWNER TO postgresmsc;

--
-- Name: DetallePedido_id_seq; Type: SEQUENCE; Schema: public; Owner: postgresmsc
--

CREATE SEQUENCE public."DetallePedido_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."DetallePedido_id_seq" OWNER TO postgresmsc;

--
-- Name: DetallePedido_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgresmsc
--

ALTER SEQUENCE public."DetallePedido_id_seq" OWNED BY public."DetallePedido".id;


--
-- Name: Pedido; Type: TABLE; Schema: public; Owner: postgresmsc
--

CREATE TABLE public."Pedido" (
    id integer NOT NULL,
    usuario_id integer NOT NULL,
    fecha_pedido timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    total numeric(10,2) NOT NULL,
    metodo_pago public."MetodoPago" NOT NULL,
    estado public."EstadoPedido" DEFAULT 'pendiente'::public."EstadoPedido" NOT NULL
);


ALTER TABLE public."Pedido" OWNER TO postgresmsc;

--
-- Name: Pedido_id_seq; Type: SEQUENCE; Schema: public; Owner: postgresmsc
--

CREATE SEQUENCE public."Pedido_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Pedido_id_seq" OWNER TO postgresmsc;

--
-- Name: Pedido_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgresmsc
--

ALTER SEQUENCE public."Pedido_id_seq" OWNED BY public."Pedido".id;


--
-- Name: Producto; Type: TABLE; Schema: public; Owner: postgresmsc
--

CREATE TABLE public."Producto" (
    id integer NOT NULL,
    nombre text NOT NULL,
    descripcion text NOT NULL,
    precio numeric(10,2) NOT NULL,
    stock integer,
    imagen_url text,
    activo boolean DEFAULT true NOT NULL,
    fecha_creacion timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    categoria_id integer NOT NULL,
    imagen_public_id text,
    stock_minimo integer DEFAULT 5 NOT NULL,
    material text DEFAULT 'No especificado'::text NOT NULL,
    usar_tallas boolean DEFAULT false NOT NULL
);


ALTER TABLE public."Producto" OWNER TO postgresmsc;

--
-- Name: ProductoTalla; Type: TABLE; Schema: public; Owner: postgresmsc
--

CREATE TABLE public."ProductoTalla" (
    id integer NOT NULL,
    talla text NOT NULL,
    stock integer NOT NULL,
    producto_id integer NOT NULL
);


ALTER TABLE public."ProductoTalla" OWNER TO postgresmsc;

--
-- Name: ProductoTalla_id_seq; Type: SEQUENCE; Schema: public; Owner: postgresmsc
--

CREATE SEQUENCE public."ProductoTalla_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."ProductoTalla_id_seq" OWNER TO postgresmsc;

--
-- Name: ProductoTalla_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgresmsc
--

ALTER SEQUENCE public."ProductoTalla_id_seq" OWNED BY public."ProductoTalla".id;


--
-- Name: Producto_id_seq; Type: SEQUENCE; Schema: public; Owner: postgresmsc
--

CREATE SEQUENCE public."Producto_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Producto_id_seq" OWNER TO postgresmsc;

--
-- Name: Producto_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgresmsc
--

ALTER SEQUENCE public."Producto_id_seq" OWNED BY public."Producto".id;


--
-- Name: Usuario; Type: TABLE; Schema: public; Owner: postgresmsc
--

CREATE TABLE public."Usuario" (
    nombre text NOT NULL,
    correo text NOT NULL,
    telefono text,
    fecha_registro timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    direccion text,
    id integer NOT NULL,
    password_hash text NOT NULL,
    rol public."RolUsuario" DEFAULT 'cliente'::public."RolUsuario" NOT NULL
);


ALTER TABLE public."Usuario" OWNER TO postgresmsc;

--
-- Name: Usuario_id_seq; Type: SEQUENCE; Schema: public; Owner: postgresmsc
--

CREATE SEQUENCE public."Usuario_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Usuario_id_seq" OWNER TO postgresmsc;

--
-- Name: Usuario_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgresmsc
--

ALTER SEQUENCE public."Usuario_id_seq" OWNED BY public."Usuario".id;


--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgresmsc
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgresmsc;

--
-- Name: AlertaStock id; Type: DEFAULT; Schema: public; Owner: postgresmsc
--

ALTER TABLE ONLY public."AlertaStock" ALTER COLUMN id SET DEFAULT nextval('public."AlertaStock_id_seq"'::regclass);


--
-- Name: Carrito id; Type: DEFAULT; Schema: public; Owner: postgresmsc
--

ALTER TABLE ONLY public."Carrito" ALTER COLUMN id SET DEFAULT nextval('public."Carrito_id_seq"'::regclass);


--
-- Name: Categoria id; Type: DEFAULT; Schema: public; Owner: postgresmsc
--

ALTER TABLE ONLY public."Categoria" ALTER COLUMN id SET DEFAULT nextval('public."Categoria_id_seq"'::regclass);


--
-- Name: DetallePedido id; Type: DEFAULT; Schema: public; Owner: postgresmsc
--

ALTER TABLE ONLY public."DetallePedido" ALTER COLUMN id SET DEFAULT nextval('public."DetallePedido_id_seq"'::regclass);


--
-- Name: Pedido id; Type: DEFAULT; Schema: public; Owner: postgresmsc
--

ALTER TABLE ONLY public."Pedido" ALTER COLUMN id SET DEFAULT nextval('public."Pedido_id_seq"'::regclass);


--
-- Name: Producto id; Type: DEFAULT; Schema: public; Owner: postgresmsc
--

ALTER TABLE ONLY public."Producto" ALTER COLUMN id SET DEFAULT nextval('public."Producto_id_seq"'::regclass);


--
-- Name: ProductoTalla id; Type: DEFAULT; Schema: public; Owner: postgresmsc
--

ALTER TABLE ONLY public."ProductoTalla" ALTER COLUMN id SET DEFAULT nextval('public."ProductoTalla_id_seq"'::regclass);


--
-- Name: Usuario id; Type: DEFAULT; Schema: public; Owner: postgresmsc
--

ALTER TABLE ONLY public."Usuario" ALTER COLUMN id SET DEFAULT nextval('public."Usuario_id_seq"'::regclass);


--
-- Data for Name: AlertaStock; Type: TABLE DATA; Schema: public; Owner: postgresmsc
--

COPY public."AlertaStock" (id, producto_id, stock_minimo, mensaje, fecha_alerta, activa, fecha_update, talla) FROM stdin;
2	4	4	Alerta atendida	2026-04-09 19:31:08.677	f	2026-04-09 19:31:08.677	\N
1	3	2	Producto con stock bajo	2026-04-09 19:31:08.576	f	2026-04-10 02:17:38.327	\N
4	39	5	El producto "Silver Tree Essence" tiene stock bajo (4 unidades disponibles).	2026-04-12 00:39:34.987	t	2026-04-12 01:03:18.895	\N
3	30	2	El producto "L'Aurore D'Or" tiene stock bajo (0 unidades disponibles).	2026-04-11 05:51:35.788	t	2026-04-12 09:48:50.621	\N
\.


--
-- Data for Name: Carrito; Type: TABLE DATA; Schema: public; Owner: postgresmsc
--

COPY public."Carrito" (cantidad, fecha_agregado, id, producto_id, usuario_id, talla) FROM stdin;
2	2026-04-09 19:31:08.409	1	3	2	\N
1	2026-04-09 19:31:08.409	2	1	3	\N
1	2026-04-11 06:27:58.783	24	35	5	\N
1	2026-04-12 17:53:13.189	30	20	6	\N
\.


--
-- Data for Name: Categoria; Type: TABLE DATA; Schema: public; Owner: postgresmsc
--

COPY public."Categoria" (id, nombre, descripcion) FROM stdin;
1	Anillos	Colecci├│n de anillos elegantes y modernos
2	Collares	Collares para diferentes estilos y ocasiones
3	Pulseras	Pulseras finas y sofisticadas
4	Aretes	Aretes cl├ísicos y contempor├íneos
5	Reloj	Relojes elegantes para cada momento
\.


--
-- Data for Name: DetallePedido; Type: TABLE DATA; Schema: public; Owner: postgresmsc
--



--
-- Data for Name: Pedido; Type: TABLE DATA; Schema: public; Owner: postgresmsc
--

COPY public."Pedido" (id, usuario_id, fecha_pedido, total, metodo_pago, estado) FROM stdin;
1	2	2026-04-09 19:31:07.909	999.49	tarjeta	enviado
6	5	2026-04-10 00:48:16.084	1196.00	tienda	pendiente
2	3	2026-04-09 19:31:07.909	420.00	tienda	en_preparacion
8	5	2026-04-11 01:40:13.651	3345.00	tarjeta	cancelado
7	6	2026-04-10 02:17:37.497	1348.50	tienda	cancelado
9	5	2026-04-11 01:45:20.844	599.00	tienda	enviado
11	5	2026-04-11 06:23:22.358	9570.00	tienda	pendiente
10	5	2026-04-11 05:59:15.56	12789.50	tienda	cancelado
12	6	2026-04-12 09:48:49.672	19835.99	tarjeta	pendiente
\.


--
-- Data for Name: Producto; Type: TABLE DATA; Schema: public; Owner: postgresmsc
--



--
-- Data for Name: ProductoTalla; Type: TABLE DATA; Schema: public; Owner: postgresmsc
--

COPY public."ProductoTalla" (id, talla, stock, producto_id) FROM stdin;
\.


--
-- Data for Name: Usuario; Type: TABLE DATA; Schema: public; Owner: postgresmsc
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgresmsc
--



--
-- Name: AlertaStock_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgresmsc
--

SELECT pg_catalog.setval('public."AlertaStock_id_seq"', 4, true);


--
-- Name: Carrito_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgresmsc
--

SELECT pg_catalog.setval('public."Carrito_id_seq"', 30, true);


--
-- Name: Categoria_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgresmsc
--

SELECT pg_catalog.setval('public."Categoria_id_seq"', 7, true);


--
-- Name: DetallePedido_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgresmsc
--

SELECT pg_catalog.setval('public."DetallePedido_id_seq"', 20, true);


--
-- Name: Pedido_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgresmsc
--

SELECT pg_catalog.setval('public."Pedido_id_seq"', 12, true);


--
-- Name: ProductoTalla_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgresmsc
--

SELECT pg_catalog.setval('public."ProductoTalla_id_seq"', 1, false);


--
-- Name: Producto_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgresmsc
--

SELECT pg_catalog.setval('public."Producto_id_seq"', 43, true);


--
-- Name: Usuario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgresmsc
--

SELECT pg_catalog.setval('public."Usuario_id_seq"', 6, true);


--
-- Name: AlertaStock AlertaStock_pkey; Type: CONSTRAINT; Schema: public; Owner: postgresmsc
--

ALTER TABLE ONLY public."AlertaStock"
    ADD CONSTRAINT "AlertaStock_pkey" PRIMARY KEY (id);


--
-- Name: Carrito Carrito_pkey; Type: CONSTRAINT; Schema: public; Owner: postgresmsc
--

ALTER TABLE ONLY public."Carrito"
    ADD CONSTRAINT "Carrito_pkey" PRIMARY KEY (id);


--
-- Name: Categoria Categoria_pkey; Type: CONSTRAINT; Schema: public; Owner: postgresmsc
--

ALTER TABLE ONLY public."Categoria"
    ADD CONSTRAINT "Categoria_pkey" PRIMARY KEY (id);


--
-- Name: DetallePedido DetallePedido_pkey; Type: CONSTRAINT; Schema: public; Owner: postgresmsc
--

ALTER TABLE ONLY public."DetallePedido"
    ADD CONSTRAINT "DetallePedido_pkey" PRIMARY KEY (id);


--
-- Name: Pedido Pedido_pkey; Type: CONSTRAINT; Schema: public; Owner: postgresmsc
--

ALTER TABLE ONLY public."Pedido"
    ADD CONSTRAINT "Pedido_pkey" PRIMARY KEY (id);


--
-- Name: ProductoTalla ProductoTalla_pkey; Type: CONSTRAINT; Schema: public; Owner: postgresmsc
--

ALTER TABLE ONLY public."ProductoTalla"
    ADD CONSTRAINT "ProductoTalla_pkey" PRIMARY KEY (id);


--
-- Name: Producto Producto_pkey; Type: CONSTRAINT; Schema: public; Owner: postgresmsc
--

ALTER TABLE ONLY public."Producto"
    ADD CONSTRAINT "Producto_pkey" PRIMARY KEY (id);


--
-- Name: Usuario Usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: postgresmsc
--

ALTER TABLE ONLY public."Usuario"
    ADD CONSTRAINT "Usuario_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgresmsc
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Carrito_producto_id_talla_idx; Type: INDEX; Schema: public; Owner: postgresmsc
--

CREATE INDEX "Carrito_producto_id_talla_idx" ON public."Carrito" USING btree (producto_id, talla);


--
-- Name: Carrito_usuario_id_producto_id_talla_key; Type: INDEX; Schema: public; Owner: postgresmsc
--

CREATE UNIQUE INDEX "Carrito_usuario_id_producto_id_talla_key" ON public."Carrito" USING btree (usuario_id, producto_id, talla);


--
-- Name: Categoria_nombre_key; Type: INDEX; Schema: public; Owner: postgresmsc
--

CREATE UNIQUE INDEX "Categoria_nombre_key" ON public."Categoria" USING btree (nombre);


--
-- Name: ProductoTalla_producto_id_idx; Type: INDEX; Schema: public; Owner: postgresmsc
--

CREATE INDEX "ProductoTalla_producto_id_idx" ON public."ProductoTalla" USING btree (producto_id);


--
-- Name: ProductoTalla_producto_id_talla_key; Type: INDEX; Schema: public; Owner: postgresmsc
--

CREATE UNIQUE INDEX "ProductoTalla_producto_id_talla_key" ON public."ProductoTalla" USING btree (producto_id, talla);


--
-- Name: Usuario_correo_key; Type: INDEX; Schema: public; Owner: postgresmsc
--

CREATE UNIQUE INDEX "Usuario_correo_key" ON public."Usuario" USING btree (correo);


--
-- Name: AlertaStock AlertaStock_producto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgresmsc
--

ALTER TABLE ONLY public."AlertaStock"
    ADD CONSTRAINT "AlertaStock_producto_id_fkey" FOREIGN KEY (producto_id) REFERENCES public."Producto"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Carrito Carrito_producto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgresmsc
--

ALTER TABLE ONLY public."Carrito"
    ADD CONSTRAINT "Carrito_producto_id_fkey" FOREIGN KEY (producto_id) REFERENCES public."Producto"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Carrito Carrito_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgresmsc
--

ALTER TABLE ONLY public."Carrito"
    ADD CONSTRAINT "Carrito_usuario_id_fkey" FOREIGN KEY (usuario_id) REFERENCES public."Usuario"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: DetallePedido DetallePedido_pedido_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgresmsc
--

ALTER TABLE ONLY public."DetallePedido"
    ADD CONSTRAINT "DetallePedido_pedido_id_fkey" FOREIGN KEY (pedido_id) REFERENCES public."Pedido"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: DetallePedido DetallePedido_producto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgresmsc
--

ALTER TABLE ONLY public."DetallePedido"
    ADD CONSTRAINT "DetallePedido_producto_id_fkey" FOREIGN KEY (producto_id) REFERENCES public."Producto"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Pedido Pedido_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgresmsc
--

ALTER TABLE ONLY public."Pedido"
    ADD CONSTRAINT "Pedido_usuario_id_fkey" FOREIGN KEY (usuario_id) REFERENCES public."Usuario"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ProductoTalla ProductoTalla_producto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgresmsc
--

ALTER TABLE ONLY public."ProductoTalla"
    ADD CONSTRAINT "ProductoTalla_producto_id_fkey" FOREIGN KEY (producto_id) REFERENCES public."Producto"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Producto Producto_categoria_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgresmsc
--

ALTER TABLE ONLY public."Producto"
    ADD CONSTRAINT "Producto_categoria_id_fkey" FOREIGN KEY (categoria_id) REFERENCES public."Categoria"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON SEQUENCES TO postgresmsc;


--
-- Name: DEFAULT PRIVILEGES FOR TYPES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TYPES TO postgresmsc;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON FUNCTIONS TO postgresmsc;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TABLES TO postgresmsc;


--
-- PostgreSQL database dump complete
--

\unrestrict 051tkJCrYsAkfbcrYnkkVUweZe8h8Tke0MvgZOy50Msvx9YAg2tlbk2epFnFut8

